<div class="container">
  <h1>Page de demo deploiement angular sur heroku</h1>
  
  <table>
    <thead>
      <th>Matricule</th>
      <th>Prenom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Telephone</th>
      <th>Adresse</th>
    </thead>
    <tBody>
      <tr *ngFor="let empl of employees">
        <td>empl.matricule</td>
        <td>empl.prenom</td>
        <td>empl.nom</td>
        <td>empl.email</td>
        <td>empl.telephone</td>
        <td>empl.adresse</td>
      </tr>
    </tBody>
  </table>
</div>